@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

html {
  background: #000000;
  position: absolute;
  width: 1360px; 
  height: 768px;
  left: 0px;
  top: 0px;
}

.fundo{
  width: 220px;
  height: 300px;
  background: #996DFF;
  filter: blur(150px);
  position: absolute;
  right: 0;
  top: 0;
  z-index: -10;
}


.fundo-footer{
  width: 250px;
  height: 500px;
  background: #996DFF;
  filter: blur(175px);
  position: absolute;
  left: 0;
  z-index: -10;
  bottom: -16rem;
}

.container-nav {
  position: absolute;
  width: 918.68px;
  height: 50px;
  left: 280px;
  top: 50px;
}

.logo {
  position: absolute;
  width: 43.06px;
  height: 50px;
  left: 0px;
  top: 0px;
}

.menu-2 {
  position: absolute;
  width: 431.35px;
  height: 19px;
  left: 180px;
  top: 15.5px;
  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
}

.menu-2 a:hover {
  color: #8257E5 
}

.menu-li-home {
  position: absolute;
  width: 43.24px;
  height: 19px;
  left: 0px;
  top: 0px;
}

.menu-li-menu {
  position: absolute;
  width: 41.08px;
  height: 19px;
  left: 75.24px;
  top: 0px;
}

.menu-li-recompensas {
  position: absolute;
  width: 103.78px;
  height: 19px;
  left: 148.32px;
  top: 0px;
}

.menu-li-gift {
  position: absolute;
  width: 74.59px;
  height: 19px;
  left: 284.11px;
  top: 0px;
}

.menu-li-lojas {
  position: absolute;
  width: 38.92px;
  height: 19px;
  left: 390.7px;
  top: 0px;
}

.btn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 11px 38px;
  gap: 10px;
  position: absolute;
  width: 172px;
  height: 37px;
  left: 746.68px;
  top: 6.5px;
  border: 1px solid #8257E5;
  border-radius: 6px;
}

.button {
  display: flex;
  font-style: normal;
  font-weight: 800;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  border-radius: 6px;
  justify-content: center;
  width: 10.8rem;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background: #8257e5;
}

.container .grid {
  position: absolute;
  width: 548px;
  height: 204px;
  left: 406px;
  top: 140px;
}

.title h1 {
  position: absolute;
  width: 471px;
  height: 109px;
  left: 445px;
  top: 140px;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 109px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}

.title span {
  position: absolute;
  width: 548px;
  height: 109px;
  left: 406px;
  top: 235px;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 109px;
  letter-spacing: -0.04em;
  text-shadow: -1px -1px 0 #8257E5, 1px -1px 0 #8257E5, -1px 1px 0 #8257E5, 1px 1px 0 #8257E5;
}

.home-img img {
  position: absolute;
  width: 798.78px;
  height: 456.47px;
  left: 281px;
  top: 319px;
}